{% extends "base.html" %} {% block title %}Playlist{% endblock %}

{% block content%}
    <br/>
    {% if playlist == None %}
        <h1 align="center">Invalid</h1>
    {% else %}
        <h1 align="center" class="text-white">{{playlist.name}}</h1>
        <p align="center" class="mt-n1 text-muted">Songs: {{playlist.count}}</p>
        <p class="mt-n2 p-2 mx-auto w-75 font-italic small text-muted text-center text-white-50 border-bottom border-top border-secondary rounded" contentEditable="true" onkeypress="editDesc(event,this.textContent, {{playlist.id}})">{{playlist.description}}</p>
        
        {% if playlist.count > 0 %}
            <div class="container">
                <button type="button" class="btn btn-outline-info bi bi-shuffle" onClick=""></button>
                <div class="row mb-n3">
                    <div class="font-weight-bold col-sm text-white-50">Name</div>
                    <div class="font-weight-bold col-sm text-white-50">Artist</div>
                    <div class="font-weight-bold col-sm text-white-50">Album</div>
                    <i class="bi bi-box-arrow-up-right col-sm text-white-50 pr-4"></i>
                </div>
                <hr style="border-top: 1px solid rgba(255, 255, 255, 0.35)"></hr>
            {% for song in playlist.songs['tracks'] %}
                <div class="row">
                    <div class="col-sm text-white">{{song['name']}}</div>
                    <div class="col-sm text-white">{{song['artist']}}</div>
                    <div class="col-sm text-white">{{song['album']}}</div>
                    <a type="button" class="bi bi-spotify col-sm text-success mr-n1" href="{{song['url']}}" target="_blank" rel="noreferrer noopener"></a>
                    <button type="button" class="close text-white-50" aria-label="Close" onClick="removeSong({{song}}, {{playlist.id}})">&times;</button>
                </div>
                <br/>
            {% endfor %}
            </div>
        {% else %}
            <div align="center" class="text-muted font-italic container">
                Add some songs to get your playlist started!
            </div>
        {% endif %}
        <hr style="border-top: 1px solid rgba(40, 167, 69, 0.35)"></hr>
        <div class="container">
            <div class="row justify-content-center">
                <form method="POST" class="form-inline">
                    <div class="form-group">
                        <input
                            type="song_name"
                            class="form-control"
                            id="song_name"
                            name="song_name"
                            placeholder="Enter song name"
                        />
                    </div>
                    <button type="submit" class="ml-2 btn btn-outline-secondary">Search</button>
                </form>
            </div>
        </div>
        <br/>
        {% if searchResults[0] %}
            <div class="container">
                <div class="row mb-n3">
                    <div class="font-weight-bold col-sm text-white-50">Name</div>
                    <div class="font-weight-bold col-sm text-white-50">Artist</div>
                    <div class="font-weight-bold col-sm text-white-50">Album</div>
                    <i class="bi bi-box-arrow-up-right col-sm text-white-50 mr-4"></i>
                </div>
                <hr/>
            {% for song in searchResults %}
                <div class="row">
                    <div class="col-sm text-white">{{song['name']}}</div>
                    <div class="col-sm text-white">{{song['artist']}}</div>
                    <div class="col-sm text-white">{{song['album']}}</div>
                    <a type="button" class="bi bi-spotify col-sm text-success ml-5" href="{{song['url']}}" target="_blank" rel="noreferrer noopener"></a>
                    <button type="button" class="btn btn-outline-success btn-sm" onClick="addSong({{song}}, {{playlist.id}})">Add</button>
                </div>
                <br/>
            {% endfor %}
            </div>
        {% else %}
            <div align="center" style="color:rgba(100, 192, 121, 0.35)">No songs found</div>
        {% endif %}
    {% endif %}
{% endblock %}