{% extends "base.html" %} {% block title %}Playlists{% endblock %}

{% block content%}
    <br/>
    {% if user.playlists %}
        <h1 align="center" class="mb-3 text-white">Your Playlists</h1>
        <div class="container">
            <div class="mr-3 row mb-n2 justify-content-center">
                <div class="font-weight-bold col-2 text-white-50">Name</div>
                <div class="font-weight-bold col-2 text-white-50">Songs</div>
            </div>
            <hr class="w-50" style="border-top: 1px solid rgba(255, 255, 255, 0.25)"></hr>
        {% for playlist in user.playlists %}
            <div class="row justify-content-center">
                <p type = "button" class="mt-1 col-2 text-white" onclick="viewPlaylist({{playlist.id}})">{{ playlist.name }}</p>
                <p class="mt-1 col-2 text-white">{{ playlist.count }}</p>
                <button type="button" class="pb-3 close text-white-50" aria-label="Close" onclick="deletePlaylist({{playlist.id}})">&times;</button>
            </div>
        {% endfor %}
    {% endif %}
    <br/>
    <form method="POST">
        <h3 align="center" class="mb-3 text-white">Create Playlist</h3>
        <div class="mx-auto w-25 form-group">
            <input
                type="playlist_name"
                class="form-control text-center"
                id="playlist_name"
                name="playlist_name"
                placeholder="Enter playlist name"
            />
        </div>
        <div class="mx-auto w-50 form-group">
            <textarea name="playlist_description" id="playlist_description" class="form-control" placeholder="Enter a description (Optional)"></textarea>
            <small id="descHelp" class="text-muted">Up to 1000 characters</small>    
        </div>
        <div align="center">
            <button type="submit" class="btn btn-secondary btn-sm">Create</button>
        </div>
    </form>
{% endblock %}