{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 

{% block content %}
    <form method="POST">
        <h3 align="center" class="text-white">Sign Up</h3>
        <div class="mx-auto w-50 form-group">
            <label for="email" class="text-white-50">Email Address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
            />
        </div>
        <div class="mx-auto w-50 form-group">
            <label for="firstName" class="text-white-50">First Name</label>
            <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                placeholder="Enter first name"
            />
        </div>
        <div class="mx-auto w-50 form-group">
            <label for="password1" class="text-white-50">Password</label>
            <input
                type="password"
                class="form-control"
                id="password1"
                name="password1"
                placeholder="Enter password"
            />
        </div>
        <div class="mx-auto w-50 form-group">
            <label for="password2" class="text-white-50">Password (Confirm)</label>
            <input
                type="password"
                class="form-control"
                id="password2"
                name="password2"
                placeholder="Confirm password"
            />
        </div>
        <br/>
        <div align="center" class="mt-n4">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </form>
{% endblock %}