{% extends "base.html" %} {% block title %}Forgot Password{% endblock %}

{% block content%}
    <h3 align="center" class="text-white">Password Recovery</h3>
    <form method="POST">
        <p align="center" class="text-muted small font-italic">Enter your email to retrieve a password recovery link</p>
        <div class="mx-auto w-50 form-group">
            <label class="text-white-50" for="email">Email Address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
            />
        </div>
        <br/>
        <div align="center" class="mt-n4">
            <button type="submit" class="mx-auto btn btn-secondary">Send Email</button>
        </div>
  </form>
{% endblock %}