{% extends "base.html" %} {% block title %}Shuffled{% endblock %}

{% block content%}
    <br/>
    <h1 align="center" class="text-white">Shuffled Songs</h1>
    <div align="center" class="container">
        <div class="font-weight-bold col text-white-50 mb-n3">Name</div>
        <hr class="w-25 col" style="border-top: 1px solid rgba(255, 255, 255, 0.35)"></hr>
        <!-- <div class="font-weight-bold col text-white-50">Artist</div>
        <div class="font-weight-bold col text-white-50">Album</div> -->
    {% for song in shuffled_songs  %}
        <div class="col text-white">{{song['name']}}</div>
        <!-- <div class="col text-white">{{song['artist']}}</div>
        <div class="col text-white">{{song['album']}}</div> -->
        <br/>
    {% endfor %}
{% endblock %}